
.App {
  text-align: center;
}

.App-logo {
  height: 16vmin;
  pointer-events: none;
}

 
.App-header {   
  
  background: linear-gradient(90deg, rgb(180, 215, 177) 0%, rgb(223, 252, 217) 35%, rgb(202, 242, 141) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-style: inset;
  box-shadow: 2ex;
  border-color: rgba(225, 227, 218, 0.877);
  border-width: 4px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
   background-color:white;
   
}


